<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RateIt.Web.RateItFacade">
        <endpoint binding="webHttpBinding" contract="RateIt.Web.IRateItAndroid" behaviorConfiguration="webHttp"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
<!--    <behaviors>-->
<!--      <serviceBehaviors>-->
<!--        <behavior>-->
<!--          ~1~ To avoid disclosing metadata information, set the value below to false before deployment @1@-->
<!--          <serviceMetadata httpGetEnabled="true"/>-->
<!--          ~1~ To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information @1@-->
<!--          <serviceDebug includeExceptionDetailInFaults="false"/>-->
<!--        </behavior>-->
<!--      </serviceBehaviors>-->
<!--    </behaviors>-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
