<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRateItController" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65312/RateItFacade.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRateItController"
                contract="RateItWebService.IRateItController" name="BasicHttpBinding_IRateItController" />
        </client>
    </system.serviceModel>
</configuration>